@using Microsoft.AspNetCore.Identity;
@model IEnumerable<ApplicationUsers>

@{
    ViewData["Title"] = "User List";
    int srNo = 1;
}

<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title form-title">
                        User list
                    </h5>
                    <div class="itemContainer">
                        <div class="item">
                            <a class="btn btn-sm btn-info" asp-action="Create">
                                <i class="bx-fw bx bx-plus bx-xs bx-spin-hover"
                                   style="font-weight:bold"></i>Create User
                            </a>
                        </div>
                        <div class="item">
                            <a class="btn btn-sm btn-outline-success" asp-action="Excel">
                                <i class="ri-file-excel-line"></i>Excel
                            </a>
                        </div>
                    </div>

                    <table class="table table-hover table-bordered ">
                        <thead class="tbl-header">
                            <tr>
                                <th>
                                    Id
                                </th><th>
                                    User
                                </th>
                                <th>
                                    Email
                                </th>
                                <th style="width:10%">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        @if (Model is not null)
                        {
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@srNo</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm">
                                                    <a>
                                                        @item.UserName
                                                    </a>

                                                    <small style="display:none">
                                                        <br>
                                                        @item.Id
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(Modelitem => item.Email)</td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="d-none d-md-block dropdown-toggle ps-2">Action</span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="">

                                                    <li>
                                                        <a class="dropdown-item">
                                                            <i class="fas fa-pencil-alt"></i> Edit
                                                        </a>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <form class="d-inline">
                                                        <a class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a>
                                                    </form>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li>

                                                        <a style='margin-right:16px' asp-controller="Permission" asp-action="Index" asp-route-roleId="@item.Id" class="dropdown-item">
                                                            <i class="fas fa-wrench"></i> Manage Permissions
                                                        </a>

                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                </ul><!-- End Profile Dropdown Items -->
                                            </div>
                                        </td>
                                    </tr>
                                    srNo++;
                                }
                            </tbody>
                        }
                    </table>
                    @if (Model is null)
                    {

                        <p class="alert alert-dismissible alert-info">
                            No Data
                        </p>
                    }
                </div>
            </div>

        </div>
    </div>
</section>
